<% @page_title = "マイページ" %>

<h1><%= @page_title %></h1>

<div class ="toolbar">
  <%= link_to "マイページの編集", edit_myaccount_path %> |
  <%= link_to "パスワードの変更",edit_password_path %> |
  <%= link_to "一覧に戻る", members_path  %>
</div>

<%= render "members/body" %>
