<%= render "common/errors", obj: @blog %>

<table class ="attr">
  <tr>
    <th width= "80"><%= form.label :title %></th>
    <td><%= form.text_field :title, size: 30 %></td>
  </tr>
  <tr>
    <th><%= form.label :body %></th>
    <td><%= form.text_area :body, rows: 10, cols: 45 %></td>
  </tr>
</table>