<%= render "common/errors", obj: @article %>

<table class ="attr">
  <tr>
    <th><%= form.label :title %></th>
    <td><%= form.text_field :title, size: 25 %></td>
  </tr>
  <tr>
    <th><%= form.label :body %></th>
    <td><%= form.text_area :body, row: 20, column: 45 %></td>
  </tr>
</table>