<% @page_title = "投稿記事の編集" %>

<h1><%= @page_title %></h1>

<P><%= link_to "戻る", article_path %> </P>

<%= form_with model:@article, local:true do |form| %>
  <%= render "form", form: form %>
  <div><%= fom.submit "保存" %></div>
<% end %>
