<%= image_tag "logo.png", size: "200x100", alt: "Memories" %>

<% if current_member %>
<ul class ="account_menu">
  <%= current_member.nickname + "さん" %>
  <%= menu_link_to "ログアウト", :session,
        method: :delete, data: { confirm: "ログアウトしますか？" } %>
</ul>
<% end %>

<nav class="menubar">
  <ul>
    <%= menu_link_to "TOP", :root %>
    <%= menu_link_to "新着動画", "#" %>
    <%= menu_link_to "投稿動画", "#" %>
    <%= menu_link_to "メンバー", :members %>
    <%= menu_link_to "管理ページ", "#" %>
  </ul>
</nav>