<%= image_tag "logo.png", size: "200x100", alt: "Memories" %>

<% if current_member %>
<ul class ="account_menu">
  <%= menu_link_to current_member.nickname + "さん", :myaccount %>
  <%= menu_link_to "ログアウト", :session,
        method: :delete, data: { confirm: "ログアウトしますか？" } %>
</ul>
<% end %>

<nav class="menubar">
  <ul>
    <%= menu_link_to "TOP", :root %>
    <!--メンバーのみ閲覧可能にする-->
    <% if current_member %>
      <%= menu_link_to "新着", "#" %>
      <%= menu_link_to "投稿記事", :articles %>
      <%= menu_link_to "メンバー", :members %>
    <% end %>
  </ul>
</nav>