<%= image_tag "logo.png", size: "200x100", alt: "Memories" %>

<nav class="menubar">
  <ul>
    <%= menu_link_to "TOP", :root %>
    <%= menu_link_to "新着動画", "#" %>
    <%= menu_link_to "投稿動画", "#" %>
    <%= menu_link_to "マイページ", "#" %>
    <%= menu_link_to "管理ページ", "#" %>
  </ul>
</nav>