<h2>ログイン</h2>
<% if flash.alert %>
  <p class ="alert">
    <<%= flash.alert %>
  </p>
<% end %>


<%= form_with url: session_path do |form| %>
  <div>
    <%= form.label :ニックネーム %>
    <%= form.text_field :nickname %>
  </div>
  <div>
    <%= form.label :パスワード %>
    <%= form.text_field :password %>
  </div>
  <div>
    <%= form.submit value="ログイン" %>
  </div>
<% end %>