<%= render "common/errors", obj: @member%>

<table class ="attr" >
  <tr>
    <th><%= form.label :nickname %></th>
    <td><%= form.text_field :nickname %></td>
  </tr>
  <tr>
    <th><%= form.label :full_name %></th>
    <td><%= form.text_field :full_name %></td>
  </tr>
  <tr>
    <th><%= form.label :birthday, for: "member_birthday_1i" %></th>
    <td><%= form.date_select :birthday,
              start_year: 1990, end_year: Time.current.year,
              use_month_numbers: true %></td>
  </tr>
  <tr>
    <th><%= form.label :email %></th>
    <td><%= form.text_field :email %></td>
  </tr>
  <tr>
    <th>情報公開
    <td><%= form.radio_button :public, 1 %>
      <%= form.label :public_1 %>
      <%= form.radio_button :public, 2 %>
      <%= form.label :public_2 %>
    </td>
  </tr>
  <!--初期パスワード入力のフォーム-->
  <% if @member.new_record? %>
  <tr>
    <th><%= form.label :password, "パスワード" %></th>
    <td><%= form.text_field :password %></td>
  </tr>
  <% end %>
  <!--メンバーコントローラーの時だけチェックボックス表示にするコード-->
  <% if controller.kind_of?(MembersController) %>
  <tr>
    <th><%= Member.human_attribute_name(:administrator) %></th>
    <td>
      <%= form.check_box :administrator,
              disabled: !current_member.administrator? %>
      <%= form.label :administrator %>
    </td>
  </tr>
  <% end %>
  
</table>